<div class="filter">
    <h2>Filters</h2>
    <div class="mx-auto title">
        Launch Year
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button mat-raised-button color="accent">2006</button>
        <button mat-raised-button color="accent">2007</button>
        <button mat-raised-button color="accent">2008</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button color="accent">2009</button>
        <button mat-raised-button color="accent">2010</button>
        <button mat-raised-button color="accent">2011</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button color="accent">2012</button>
        <button mat-raised-button color="accent">2013</button>
        <button mat-raised-button color="accent">2014</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button color="accent">2015</button>
        <button mat-raised-button color="accent">2016</button>
        <button mat-raised-button color="accent">2017</button>
    </div>
    <div class="d-flex justify-content-between mt-2 mb-3">
        <button mat-raised-button color="accent">2018</button>
        <button mat-raised-button color="accent">2019</button>
        <button mat-raised-button color="accent">2020</button>
    </div>
    
    <div class="mx-auto title">
        Successful Launch
    </div>
    <div class="d-flex justify-content-between mt-4 mb-3">
        <button mat-raised-button color="accent">True</button>
        <button mat-raised-button color="accent">False</button>
    </div>
    <div class="mx-auto title">
        Successful Landing
    </div>
    <div class="d-flex justify-content-between mt-4 mb-3">
        <button mat-raised-button color="accent">True</button>
        <button mat-raised-button color="accent">False</button>
    </div>
</div>