<div class="filter">
    <h2>Filters</h2>
    <div class="mx-auto title">
        Launch Year
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button mat-raised-button [color]="filteredYear == '2006' ? 'primary':'accent'"
        (click)="filterByYear('2006')">2006</button>
        <button mat-raised-button [color]="filteredYear == '2007' ? 'primary':'accent'"
         (click)="filterByYear('2007')">2007</button>
        <button mat-raised-button [color]="filteredYear == '2008' ? 'primary':'accent'"
         (click)="filterByYear('2008')">2008</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button [color]="filteredYear == '2009' ? 'primary':'accent'"
         (click)="filterByYear('2009')">2009</button>
        <button mat-raised-button [color]="filteredYear == '2010' ? 'primary':'accent'"
         (click)="filterByYear('2010')">2010</button>
        <button mat-raised-button [color]="filteredYear == '2011' ? 'primary':'accent'"
         (click)="filterByYear('2011')">2011</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button [color]="filteredYear == '2012' ? 'primary':'accent'"
         (click)="filterByYear('2012')">2012</button>
        <button mat-raised-button [color]="filteredYear == '2013' ? 'primary':'accent'"
         (click)="filterByYear('2013')">2013</button>
        <button mat-raised-button [color]="filteredYear == '2014' ? 'primary':'accent'"
         (click)="filterByYear('2014')">2014</button>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button mat-raised-button [color]="filteredYear == '2015' ? 'primary':'accent'"
         (click)="filterByYear('2015')">2015</button>
        <button mat-raised-button [color]="filteredYear == '2016' ? 'primary':'accent'"
         (click)="filterByYear('2016')">2016</button>
        <button mat-raised-button [color]="filteredYear == '2017' ? 'primary':'accent'"
         (click)="filterByYear('2017')">2017</button>
    </div>
    <div class="d-flex justify-content-between mt-2 mb-3">
        <button mat-raised-button [color]="filteredYear == '2018' ? 'primary':'accent'"
         (click)="filterByYear('2018')">2018</button>
        <button mat-raised-button [color]="filteredYear == '2019' ? 'primary':'accent'"
         (click)="filterByYear('2019')">2019</button>
        <button mat-raised-button [color]="filteredYear == '2020' ? 'primary':'accent'"
         (click)="filterByYear('2020')">2020</button>
    </div>
    
    <div class="mx-auto title">
        Successful Launch
    </div>
    <div class="d-flex justify-content-between mt-4 mb-3">
        <button mat-raised-button [color]="launchSuccess == 'true' ? 'primary':'accent'"
         (click)="filterByLaunch('true')">True</button>
        <button mat-raised-button [color]="launchSuccess == 'false' ? 'primary':'accent'" 
        (click)="filterByLaunch('false')">False</button>
    </div>
    <div class="mx-auto title">
        Successful Landing
    </div>
    <div class="d-flex justify-content-between mt-4 mb-3">
        <button mat-raised-button [color]="landSuccess == 'true' ? 'primary':'accent'"
        (click)="filterByLand('true')">True</button>
        <button mat-raised-button [color]="landSuccess == 'false' ? 'primary':'accent'"
        (click)="filterByLand('false')">False</button>
    </div>
    <div class="d-flex justify-content-center mt-2 mb-3">
        <button mat-raised-button (click)="resetAll()">Reset Filter</button>
    </div>
</div>