@import "styles-variables";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media only screen and (min-width: 1440px) {
    body {
        background-color: #a7bac0 !important;
        .wrapper {
            width: 1440px;
            margin: 0 auto;
        }
    }
}
